.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;

}

.img {
    align-items: center;
    display: flex;
    flex-direction: column;
}

p span {
    font-weight: bold;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

@media screen and(max-width:680px) {
    .recipe {
        width: 100%;
        display: flex;
        padding: 10px
    }

    .title {
        font-size: 2px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}